# See https://fly.io/docs/app-guides/continuous-deployment-with-github-actions/

name: CD - Deploy to Fly.io

on:
  workflow_run:
    workflows: ["CI (MySQL + Tests)"]
    types: [completed]

jobs:
  deploy:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup flyctl
        uses: superfly/flyctl-actions/setup-flyctl@v1

      - name: Deploy
        run: flyctl deploy --remote-only -app voznipark-app-working-git-ci11
        env:
          FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}
          FLY_APP: ${{ secrets.FLY_APP_NAME }}